.statistics,
.graphics {
    margin: 0 0 24px 0;
    gap: 24px;
}
.statistics .col {
    display: flex;
    align-items: center;
    background: var(--background);
    border: solid 1px var(--border);
    padding: 24px;
    border-radius: 8px;
    gap: 24px;
}
.graphics .col {
    min-width: calc(50% - 12px);
    background: var(--background);
    border: solid 1px var(--border);
    padding: 24px;
    border-radius: 8px;
    gap: 24px;
}
.statistics .col > i {
    background: var(--secondary-color);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    border-radius: 8px;
}
.statistics .content,
.graphics .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.statistics .content p,
.graphics .content p {
    margin: 0;
}
.statistics .content .info,
.graphics .content .info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.statistics .content .info p,
.graphics .content .info p {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
}

.up {
    color: #65b741;
}
.down {
    color: #ff6868;
}

@media screen and (max-width: 992px) {
    .graphics .col {
        min-width: 100%;
    }
}
