.offcanvas {
    background: var(--background-content);
    color: var(--text);
}
.offcanvas-header {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border);
    color: var(--primary-color);
}
.offcanvas-header p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.offcanvas-body {
    padding: 32px 24px;
}
.offcanvas-body .row,
.offcanvas-body table,
.offcanvas-body p {
    margin-bottom: 32px;
}
.offcanvas-body table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
}
.offcanvas-body td {
    min-width: 80px;
    background: var(--background);
    padding: 4px 8px;
    color: var(--text);
}
.offcanvas-body tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 24px;
}
.offcanvas-body tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 24px;
}

.form-pedido {
    width: 690px !important;
}

.form-new-user,
.form-new-product {
    width: 690px !important;
}
