.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
    margin: 0px;
}

.dropdown-menu {
    background: var(--background);
    border: 1px solid var(--border);
}
.dropdown-menu .dropdown-item {
    color: var(--text);
}
.dropdown-menu .dropdown-item:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    background: var(--primary-color);
    color: white;
}

.table-container {
    height: calc(100vh - 205px);
    background: var(--background);
    border: 1px solid var(--border);
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
    align-content: space-between;
}
.table-expand {
    overflow: auto;
    height: calc(100vh - 285px);
}

.table {
    width: 100%;
    margin: 0 !important;
}
.table thead {
    position: sticky;
    top: 0;
}
.table th,
.table td {
    align-content: center;
    background: var(--background) !important;
    color: var(--text) !important;
    font-size: 15px;
    padding: 16px 24px !important;
    border-color: var(--border);
}
.table td > img {
    height: 64px;
    border-radius: 4px;
}

.options {
    padding: 0;
}
.options:hover {
    color: var(--primary-color);
}
.options:active,
.options:focus {
    color: var(--primary-color) !important;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}
.table-footer p {
    margin: 0;
    color: var(--text);
}

.R {
    text-align: center;
    background: rgba(255, 225, 0, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.P {
    text-align: center;
    background: rgba(0, 255, 106, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.E {
    text-align: center;
    background: rgba(0, 149, 255, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.C {
    text-align: center;
    background: rgba(255, 25, 0, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
